### Installed packages ###
/node_modules

### Build output ###
/.next
/out
/build

### Misc
next-env.d.ts

# Dotenv
*.env

# IDEs and editors
/.idea/*
!/.idea/prettier.xml
!/.idea/jsLinters

/.vscode
